#
# --- CLIMATE --------------------------------------------------
#
# set climate feedback
ea_36=y
#
# --- BIOLOGICAL NEW PRODUCTION --------------------------------
#
# biological scheme ID string
bg_par_bio_prodopt="bio_P"
# [PO4] M-M half-sat value (mol kg-1)
bg_par_bio_c0_PO4=0.10E-06
# biological uptake time-scale
bg_par_bio_tau=63.3827
#
# --- ORGANIC MATTER EXPORT RATIOS -----------------------------
#
#production fraction of dissolved organic matter
bg_par_bio_red_DOMfrac=0.66
#
# --- INORGANIC MATTER EXPORT RATIOS ---------------------------
#
# SET NO PELAGIC CARBONATE PRODUCTION
bg_par_bio_red_POC_CaCO3=0.0
bg_par_bio_red_POC_CaCO3_pP=0.0
#
# --- REMINERALIZATION -----------------------------------------
#
# DOC lifetime (yrs)
bg_par_bio_remin_DOMlifetime=0.5
# NO fractional abundance of POC component #2
bg_par_bio_remin_POC_frac2=0.0
# depth of remineralization or particulate organic matter
bg_par_bio_remin_POC_eL1=589.9451 # modern e-folding depth
#remineralization length #2 for POC
bg_par_bio_remin_POC_eL2=1000000.0
#initial fractional abundance of CaCO3 component #2
bg_par_bio_remin_CaCO3_frac2=0.45
# depth of remineralization or CaCO3
bg_par_bio_remin_CaCO3_eL1=1.8905e+003
#remineralization length #2 for CaCO3
bg_par_bio_remin_CaCO3_eL2=1000000.0
#
# --- DATA SAVING ----------------------------------------------
#
bg_par_data_save_level=4
bg_ctrl_debug_lvl0=.true.
ma_debug_loop=1
#
# --- FORCINGS -------------------------------------------------
#
# specify forcings
bg_par_forcing_name="pyyyyz.RpCO2_Rp13CO2.RpO2"
bg_par_atm_force_scale_val_3=0.003336 # restoring forcing for pCO2 [atm]
bg_par_atm_force_scale_val_6=0.02095  # restoring forcing for pO2 [atm]
#
# --- INITIAL CONDITIONS ---------------------------------------
#
# ATMOSPHERIC CHEMISTRY
ac_atm_init_3=0.003336 # pCO2 [atm]
ac_atm_init_6=0.02095 # pO2 [atm]
#
# OCEAN CHEMISTRY
bg_ocn_init_3=2.244E-03             # DIC [mol/kg]
bg_ocn_init_8=8.636e-08 # PO4 [mol/kg]
bg_ocn_init_10=0.0                  # O2 [mol/kg]
bg_ocn_init_12=2.363E-03            # ALK [mol/kg]
bg_ocn_init_15=0.0                  # DOM_C [mol/kg]
bg_ocn_init_20=0.0                  # DOM_P [mol/kg]
bg_ocn_init_35=1.025E-02            # Ca [mol/kg]
bg_ocn_init_38=1.000E-03            # SO4 [mol/kg]
bg_ocn_init_40=0.0                  # H2S [mol/kg]
bg_ocn_init_50=5.282E-02            # Mg [mol/kg]
#
# --- MISC ----------------------------------------------------------
#
# kraus-turner mixed layer scheme on (1) or off (0)
go_imld = 1
#
# --- END ------------------------------------------------------
#
#
