# *******************************************************************
# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_biogem=.TRUE.
# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Topography
ma_fname_topo='p0251b'
# Grid resolution of climate components
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'
GENIENLOPTS='$(DEFINE)GENIENL=1'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
# Topography for climate components
go_topo='p0251b'
gs_topo='p0251b'
ea_topo='p0251b'
# Wind forcing for climate components
ea_taux_u="p0251b_taux_u.interp"
ea_tauy_u="p0251b_tauy_u.interp"
ea_taux_v="p0251b_taux_v.interp"
ea_tauy_v="p0251b_tauy_v.interp"
ea_adv_u="p0251b_uncep.silo"
ea_adv_v="p0251b_vncep.silo"
#assumed longitudinal offset of the grid
gm_par_grid_lon_offset=-180.0
# Grid resolution of solid Earth components
# Topography for solid Earth components
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=14'
# Select tracers
gm_atm_select_3=.true.
gm_atm_select_4=.true.
gm_atm_select_6=.true.
gm_atm_select_16=.true.
gm_ocn_select_3=.true.
gm_ocn_select_4=.true.
gm_ocn_select_8=.true.
gm_ocn_select_10=.true.
gm_ocn_select_12=.true.
gm_ocn_select_15=.true.
gm_ocn_select_16=.true.
gm_ocn_select_20=.true.
gm_ocn_select_35=.true.
gm_ocn_select_38=.true.
gm_ocn_select_40=.true.
gm_ocn_select_50=.true.
gm_sed_select_3=.true.
gm_sed_select_4=.true.
gm_sed_select_8=.true.
gm_sed_select_14=.true.
gm_sed_select_15=.true.
gm_sed_select_22=.true.
gm_sed_select_32=.true.
gm_sed_select_33=.true.
gm_sed_select_34=.true.
gm_sed_select_36=.true.
# Set tracer initial values
ac_atm_init_3=278.0E-06
ac_atm_init_4=-6.5
ac_atm_init_6=0.2095
bg_ocn_init_3=2.244E-03
bg_ocn_init_4=0.4
bg_ocn_init_8=2.159E-06
bg_ocn_init_9=0.650E-09
bg_ocn_init_10=1.696E-04
bg_ocn_init_12=2.363E-03
bg_ocn_init_24=1.000E-09
bg_ocn_init_35=1.025E-02
bg_ocn_init_38=2.916E-02
bg_ocn_init_40=0.0
bg_ocn_init_50=5.282E-02
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CONFIGURATION #1: main goin parameters
# *******************************************************************
# temp0
go_10=10.0
# temp1
go_11=10.0
# rel
go_12=0.9000000
# scl_tau / SclTau
go_13=1.531013488769531300
# ocean diffusivites iso (or horiz) / OcnHorizDiff
go_14=1494.438354492187500000
# ocean diffusivites dia (or vert) / OcnVertDiff
go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
go_16=2.710164785385131800
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
ea_11=1.531013488769531300
# atm. diff. amp. for T / AtmDiffAmpT
ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
ea_19=0.164652019739151000
# SclFWF
ea_28=0.0
# sea-ice eddy diffusivity / SeaiceDiff
gs_11=3573.718017578125000000
# solar constant reduced by 2.1% for end Permian
ma_genie_solar_constant=1339.3
# adjusted planetary albedo
ea_albedop_offs=0.230
ea_albedop_amp=0.240
ea_albedop_skew=0.0
ea_albedop_skewp=0
ea_albedop_mod2=-0.000
ea_albedop_mod4=0.000
ea_albedop_mod6=0.250
# minus 1 PSU
go_saln0=33.9
# set climate feedback
ea_36=y
# *******************************************************************

# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************
EXPID=20180909_p0251b.1xPO4.SPIN
ma_genie_timestep=65745.00000000000000000000
ma_ksic_loop=5
ma_kocn_loop=5
ma_klnd_loop=5
ma_conv_kocn_kecogem=2
ma_conv_kocn_katchem=2
ma_conv_kocn_kbiogem=2
ma_conv_kocn_ksedgem=96
ma_conv_kocn_krokgem=2
ma_kgemlite=96
bg_par_misc_t_runtime=10001
sg_par_misc_t_runtime=10001
ma_koverall_total=4800480
ma_dt_write=4800480
ea_3=960096
go_3=960096
gs_3=960096
el_3=960096
ea_4=960096
go_4=960096
gs_4=960096
el_4=960096
ea_5=960097
go_5=960097
gs_5=960097
el_5=960097
ea_6=960097
go_6=960097
gs_6=960097
el_6=960097
ea_9=96
go_9=96
gs_9=96
ea_31=n
go_19=n
gs_14=n
ea_32=y
go_20=y
gs_15=y
ea_29=rst
go_17=rst
gs_12=rst
el_17=rst
el_24=rst.sland
ea_7=n
go_7=n
gs_7=n
el_7=n
ac_ctrl_continuing=f
bg_ctrl_continuing=f
sg_ctrl_continuing=f
rg_ctrl_continuing=f
eg_ctrl_continuing=f
ac_ctrl_ncrst=.true.
bg_ctrl_ncrst=.true.
sg_ctrl_ncrst=.true.
eg_ctrl_ncrst=.true.
bg_ctrl_force_oldformat=.false.
#
#
# --- CLIMATE --------------------------------------------------
#
# set climate feedback
ea_36=y
#
# --- BIOLOGICAL NEW PRODUCTION --------------------------------
#
# biological scheme ID string
bg_par_bio_prodopt="bio_P"
# [PO4] M-M half-sat value (mol kg-1)
bg_par_bio_c0_PO4=0.10E-06
# biological uptake time-scale
bg_par_bio_tau=63.3827
#
# --- ORGANIC MATTER EXPORT RATIOS -----------------------------
#
#production fraction of dissolved organic matter
bg_par_bio_red_DOMfrac=0.66
#
# --- INORGANIC MATTER EXPORT RATIOS ---------------------------
#
# SET NO PELAGIC CARBONATE PRODUCTION
bg_par_bio_red_POC_CaCO3=0.0
bg_par_bio_red_POC_CaCO3_pP=0.0
#
# --- REMINERALIZATION -----------------------------------------
#
#DOC lifetime (yrs)
bg_par_bio_remin_DOMlifetime=0.5
#initial fractional abundance of POC component #2
bg_par_bio_remin_POC_frac2=0.0
# depth of remineralization or particulate organic matter
bg_par_bio_remin_POC_eL1=589.9451
#remineralization length #2 for POC
bg_par_bio_remin_POC_eL2=1000000.0
#initial fractional abundance of CaCO3 component #2
bg_par_bio_remin_CaCO3_frac2=0.45
# depth of remineralization or CaCO3
bg_par_bio_remin_CaCO3_eL1=1.8905e+003
#remineralization length #2 for CaCO3
bg_par_bio_remin_CaCO3_eL2=1000000.0
# sulfide oxidation rate form
bg_opt_bio_remin_oxidize_H2StoSO4="OLD"
# sulfide oxidation rate constant [only used if rate law is linear]
bg_par_bio_remin_kH2StoSO4=1.0E07
#
# --- DATA SAVING ----------------------------------------------
#
# save frequency definitions
bg_par_infile_slice_name=save_timeslice.dat
bg_par_infile_sig_name=save_sig.dat
# SELECT: time-slice data save: Atmospheric (interface) composition (2D)?
bg_ctrl_data_save_slice_ocnatm=.false.
# SELECT: time-slice data save: Ocean composition (3D)?
bg_ctrl_data_save_slice_ocn=.true.
# SELECT: time-slice data save: Sediment (interface) composition (2D)?
bg_ctrl_data_save_slice_ocnsed=.true.
# SELECT: time-slice data save: Air-sea gas exchange (2D)?
bg_ctrl_data_save_slice_fairsea=.true.
# SELECT: time-slice data save: Ocean-atmosphere flux (2D)?
bg_ctrl_data_save_slice_focnatm=.true.
# SELECT: time-slice data save: Ocean-sediment flux (2D)?
bg_ctrl_data_save_slice_focnsed=.false.
# SELECT: time-slice data save: Sediment-ocean flux (2D)?
bg_ctrl_data_save_slice_fsedocn=.false.
# SELECT: time-slice data save: Biological fluxes (3D)?
bg_ctrl_data_save_slice_bio=.true.
# SELECT: additional biogeochem diagnostics
bg_ctrl_data_save_slice_diag=.true.
bg_ctrl_data_save_slice_misc=.true.
bg_ctrl_data_save_derived=.true.
bg_ctrl_data_save_sig_diag_redox_old=.false.
bg_ctrl_data_save_slice_diag_redox_old=.false.
bg_ctrl_bio_remin_redox_save=.true.
#bg_ctrl_carbchemupdate_full=.true.
# misc
bg_par_data_save_level=8
bg_ctrl_debug_lvl0=.true.
ma_debug_loop=1
#
# --- FORCINGS -------------------------------------------------
#
bg_par_forcing_name="pyyyyz_RpCO2_Rp13CO2"
bg_par_atm_force_scale_val_3=2800.0E-06
bg_par_atm_force_scale_val_4=-6.5
bg_par_windspeed_file="p0251b_windspeed.dat"
#re-scale gas transfer coeff to give ~0.058 mol m-2 yr-1 uatm-1 global mean air-sea coefficient (original: 0.310)
bg_par_gastransfer_a=0.7096
#
# --- MISC -----------------------------------------------------
#
# ATMOSPHERIC CHEMISTRY
ac_atm_init_3=278.0E-06             # pCO2 [atm]
ac_atm_init_4=-6.5                  # d13C CO2 [o/oo]
ac_atm_init_6=0.2095                # pO2 [atm]
#
# OCEAN CHEMISTRY
bg_ocn_init_3=2.244E-03             # DIC [mol/kg]
bg_ocn_init_4=0.4                   # d13C DIC [o/oo]
bg_ocn_init_8=2.159E-06             # PO4 [mol/kg]
bg_ocn_init_10=0.0                  # O2 [mol/kg]
bg_ocn_init_12=2.363E-03            # ALK [mol/kg]
bg_ocn_init_15=0.0                  # DOM_C [mol/kg]
bg_ocn_init_20=0.0                  # DOM_P [mol/kg]
bg_ocn_init_35=1.025E-02            # Ca [mol/kg]
bg_ocn_init_38=5.0E-03              # SO4 [mol/kg]
bg_ocn_init_40=0.0                  # H2S [mol/kg]
bg_ocn_init_50=5.282E-02            # Mg [mol/kg]
#
# --- END ------------------------------------------------------
#
