# *******************************************************************
# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM+ SEDGEM + ROKGEM)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_biogem=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_sedgem=.TRUE.
ma_flag_rokgem=.TRUE.
ma_flag_gemlite=.TRUE.
# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Topography
ma_fname_topo='worbe2'
# Grid resolution of climate components
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'
GENIENLOPTS='$(DEFINE)GENIENL=1'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=8'
# Topography for climate components
# (DEFAULT)
# Wind forcing for climate components
# (DEFAULT)
#assumed longitudinal offset of the grid
gm_par_grid_lon_offset=-260.0
# Grid resolution of solid Earth components
SEDGEMNLONSOPTS='$(DEFINE)SEDGEMNLONS=36'
SEDGEMNLATSOPTS='$(DEFINE)SEDGEMNLATS=36'
ROKGEMNLONSOPTS='$(DEFINE)ROKGEMNLONS=36'
ROKGEMNLATSOPTS='$(DEFINE)ROKGEMNLATS=36'
# Grid resolution of solid Earth components
# (DEFAULT)
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=21'
# Set selected tracers
gm_atm_select_3=.true.
gm_atm_select_4=.true.
gm_atm_select_6=.true.
gm_ocn_select_3=.true.
gm_ocn_select_4=.true.
gm_ocn_select_8=.true.
gm_ocn_select_10=.true.
gm_ocn_select_12=.true.
gm_ocn_select_15=.true.
gm_ocn_select_16=.true.
gm_ocn_select_20=.true.
gm_ocn_select_35=.true.
gm_ocn_select_50=.true.
gm_ocn_select_53=.true.
gm_ocn_select_54=.true.
gm_ocn_select_76=.true.
gm_ocn_select_98=.true.
gm_ocn_select_99=.true.
gm_ocn_select_100=.true.
gm_ocn_select_104=.true.
gm_ocn_select_105=.true.
gm_ocn_select_106=.true.
gm_sed_select_3=.true.
gm_sed_select_4=.true.
gm_sed_select_8=.true.
gm_sed_select_14=.true.
gm_sed_select_15=.true.
gm_sed_select_22=.true.
gm_sed_select_32=.true.
gm_sed_select_33=.true.
gm_sed_select_34=.true.
gm_sed_select_36=.true.
gm_sed_select_45=.true.
gm_sed_select_46=.true.
gm_sed_select_55=.true.
gm_sed_select_56=.true.
gm_sed_select_57=.true.
gm_sed_select_84=.true.
gm_sed_select_85=.true.
gm_sed_select_86=.true.
gm_sed_select_97=.true.
gm_sed_select_98=.true.
gm_sed_select_99=.true.
gm_sed_select_100=.true.
gm_sed_select_101=.true.
gm_sed_select_102=.true.
# Set tracer initial values
ac_atm_init_3=278.0E-06
ac_atm_init_4=-6.5
ac_atm_init_6=0.2095
bg_ocn_init_3=2.244E-03
bg_ocn_init_4=0.4
bg_ocn_init_8=2.159E-06
bg_ocn_init_10=1.696E-04
bg_ocn_init_12=2.363E-03
bg_ocn_init_35=1.025E-02
bg_ocn_init_50=5.282E-02
bg_ocn_init_104=5.260E-14 #Lu et al. 2017: 10pg/kg seawater, molar weight = 190.23 g/mol (Wikipedia)
bg_ocn_init_105=1.05 #3761.9
bg_ocn_init_106=0.3244
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CALIBRATION
# *******************************************************************
# this is to set the climate model goin parameters as per Ridgwell et al. [2007]
# temp0
go_10=0.0
# temp1
go_11=0.0
# rel
go_12=0.9000000
# scl_tau
go_13=1.931692
# ocean diffusivites iso (or horiz)
go_14=4488.812
# ocean diffusivites dia (or vert)
go_15=2.7242320E-05
# inverse minimum drag in days
go_16=2.939598
# scl_tau (should be same as GOLDSTEIN's value)
ea_11=1.931692
# atm. diff. amp. for T
ea_12=4667550.0
# atm. diff. amp. for q
ea_13=1097107.0
# dist'n width
ea_14=1.083292
# dist'n slope
ea_15=6.3252553E-02
# atm. advection factor for T_z
ea_16=0.1121861
# atm. advection factor for T_m
ea_17=0.0000000E+00
# atm. advection factor for q_z
ea_18=0.2269510
# atm. advection factor for q_m
ea_19=0.2269510
# extra1a
ea_25=-2.1228021E-02  
# extra1b
ea_26=0.1202921      
# extra1c
ea_27=0.1273681
# sea-ice eddy diffusivity
gs_11=6200.000
# set no seasonal cycle
ea_dosc=.false.
go_dosc=.false.
gs_dosc=.false.
# *******************************************************************
