# **********************************************************************
# CONFIGURATION TEMPLATE -- for an 8 level seasonally forced ocean
# **********************************************************************

# **********************************************************************
# GENIE COMPONENT SELECTION
# **********************************************************************
# make .TRUE. the cGENIE modules to be included
# **********************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_biogem=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_sedgem=.FALSE.
ma_flag_rokgem=.FALSE.
ma_flag_gemlite=.false.
ma_flag_ecogem=.FALSE.
# **********************************************************************

# **********************************************************************
# TRACER CONFIGURATION
# **********************************************************************
# the total number of tracers includes T and S
# T and S do not need to be explicited selected and initialzied
# **********************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=2'
#### if 'red' color tracer colr is included
###GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=3'
# list selected biogeochemical tracers
#### 'red' color tracer colr included as a single-tracer age tracer
###gm_ocn_select_48=.true.     #   colr -- 'RED numerical (color) tracer' 
# list biogeochemical tracer initial values
# **********************************************************************

# **********************************************************************
# GRID & BOUNDARY CONDITION CONFIGURATION
# **********************************************************************
# insert the automatically generated muffingen parameter list here
# **********************************************************************
# INPUT FILE PATH
ea_1='../../cgenie.cookie/genie-paleo/p_woreq1'
go_1='../../cgenie.cookie/genie-paleo/p_woreq1'
gs_1='../../cgenie.cookie/genie-paleo/p_woreq1'
# Grid resolution
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=8'
# Topography
ma_fname_topo='p_woreq1'
# Assumed longitudinal offset of the grid
gm_par_grid_lon_offset=180.0
# Ocean depth scalar (m) [internally, parameter: dsc]
go_par_dsc=5000
# Additional ocean layers (deeper than go_par_dsc)
go_par_dk=0
# Boundary conditions: EMBM
ea_topo='p_woreq1'
ea_taux_u="p_woreq1.taux_u.interp"
ea_tauy_u="p_woreq1.tauy_u.interp"
ea_taux_v="p_woreq1.taux_v.interp"
ea_tauy_v="p_woreq1.tauy_v.interp"
ea_adv_u="p_woreq1.uncep.silo"
ea_adv_v="p_woreq1.vncep.silo"
# Boundary conditions: GOLDSTEIN
go_topo='p_woreq1'
# Boundary conditions: GOLDSTEIN sea-ice
gs_topo='p_woreq1'
# Boundary conditions: ALBEDO!
###
# Boundary conditions: BIOGEM
bg_ctrl_force_windspeed=.false.
# gas transfer coeff
###
# GEOLOGIC AGE DEPENDENT PARAMETERS
# solar constant reduced by 5.6% for late Neoproterozoic: 1285.92 W m-2
ma_genie_solar_constant=1285.92
# ... also, salinity should be set 1 PSU lower if it an ice-free World
###go_saln0=33.9
# Orbital parameters (modern, defaults)
###ea_par_orbit_osce=0.0167 # eccentricity
###ea_par_orbit_oscsob=0.397789 # sine of obliquity
###ea_par_orbit_oscgam=102.92 # longitude of perihelion
# Ocean Ca, Mg, SO4 concentrations (modern defaults, mol kg-1)
bg_ocn_init_35=10.280E-03
bg_ocn_init_50=52.820E-03
bg_ocn_init_38=28.240E-03
# **********************************************************************

# **********************************************************************
# PHYSICAL CLIMATE CALIBRATION
# **********************************************************************
# based on  Ridgwell et al. [2007] with the following exceptions:
# (1) warmer (5C) ocean start
# (2) scaling of the freshwater re-balancing flux to zero
# (3) application of a reduced sea-ice diffusivity and 
#     + prescribed maximum fractional area for sea-ice advection
# **********************************************************************
# rel
go_12=0.9000000
# scl_tau
go_13=1.931692
# ocean diffusivites iso (or horiz)
go_14=4488.812
# ocean diffusivites dia (or vert)
go_15=2.7242320E-05
# inverse minimum drag in days
go_16=2.939598
# scl_tau (should be same as GOLDSTEIN's value)
ea_11=1.931692
# atm. diff. amp. for T
ea_12=4667550.0
# atm. diff. amp. for q
ea_13=1097107.0
# dist'n width
ea_14=1.083292
# dist'n slope
ea_15=6.3252553E-02
# atm. advection factor for T_z
ea_16=0.1121861
# atm. advection factor for T_m
ea_17=0.0000000E+00
# atm. advection factor for q_z
ea_18=0.2269510
# atm. advection factor for q_m
ea_19=0.2269510
# temp0 -- start with a warm ocean
go_10=5.0
# temp1 -- start with a warm ocean
go_11=5.0
# SclFWF -- scale for zero freshwater re-balancing
ea_28=0.0
# reduced sea-ice eddy diffusivity
gs_11=1000.000
# set a fractional sea-ce coverage threshold for preventing advection
gs_par_sica_thresh=0.9
# set no seasonal cycle
ea_dosc=.false.
go_dosc=.false.
gs_dosc=.false.
# isoneutral isopycnal/diapycnal mixing scheme
# it is recommended that it is turned OFF (=.false.) for 'fake' worlds
go_diso=.true.
# **********************************************************************

# **********************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# **********************************************************************
# (the following parameter text is appended automatically)
# **********************************************************************
