# *******************************************************************
# CONFIGURATION TEMPLATE (PLASIM + GOLDSTEIN + GOLDSTEIN SEA-ICE)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_plasimatmos=.TRUE.
# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Topography
ma_fname_topo='pl32_1'
# Grid resolution of climate components
GENIENXOPTS='$(DEFINE)GENIENX=64'
GENIENYOPTS='$(DEFINE)GENIENY=32'
GENIENLOPTS='$(DEFINE)GENIENL=1'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=64'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=32'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=32'
# Topography for climate components
go_topo='pl32_1'
gs_topo='pl32_1'
#
gs_grid=2
gs_grid=2
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=2'
# Select tracers
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CONFIGURATION #1
# *******************************************************************
# PLASIM
#
pl_nafter=115200 	# <!-- output frequency for averaged plasim-ents fields = 45 minutes * 115200 = 10 years -->
pl_scale_apm=0.6664018	# <!-- dimensionless scaling of the atlantic-pacific moisture flux adjustment - subjectively tuned parameter APM -->
pl_qthresh=0.1		# <!-- dimensionless threshold moisture content for photosynthesis - non default parameter QTHRESH -->
pl_acllwr=0.2		# <!-- cloud emissivity (m2g-1) - non-default parameter ACLLWR -->
pl_co2=280.0		# <!-- atmospheric co2 concentration (ppm). This is the default so need not be configured, but is included here to allow easy test of climate sensitiviy-->
pl_albseamax=0.4	# <!-- latitudinal dependence of ocean albedo (dimensionless) - non-default parameter ALBSEAMAX 
#
go_10=5.0		# <!-- initial ocean temperature in northern hemisphere (degC). When set to less than -2, ocean initialised with observations --
go_11=5.0		# <!-- initial ocean temperature in northern hemisphere (degC). When set to less than -2, ocean initialised with observations --
go_14=1936.9958		# <!-- isopycnal diffusivity (m2s-1) -                         subjectively tuned parameter OHD -->
go_15=0.000158338	# <!-- diapycnal diffusivity (m2s-1) -                         subjectively tuned parameter OVD -->
go_16=0.9000000		# <!-- inverse frictional drag (days) -                        subjectively tuned parameter ADRAG -->
go_13=3.788316		# <!-- wind stress scaling (dimensionless) -                   subjectively tuned parameter SCF -->
go_ediffpow1=0.8200495	# <!-- diapycnal diffusivity depth profile (dimensionless) -   subjectively tuned parameter OP1 --> 
go_ieos=1		# <!-- switch to include thermobaricity in the equation of state (1==on) -->
go_iediff=1		# <!-- switch to turn on stratification dependent mixing (1==on) -->
#
gs_11=15000.0		# <!-- sea ice diffusivity (m2s-1) - non-default parameter SID -->
###gs_scf=3.788316		# <!-- wind stress scaling (dimensionless), also in goldstein - subjectively tuned parameter SCF -->
# *******************************************************************

# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************

EXPID=EXAMPLE.plasim_GMD.ABIO.SPIN
ma_genie_timestep=2700.00000000000000000000
ma_ksic_loop=16
ma_kocn_loop=16
ma_klnd_loop=16
ma_conv_kocn_kecogem=2
ma_conv_kocn_katchem=2
ma_conv_kocn_kbiogem=2
ma_conv_kocn_ksedgem=720
ma_conv_kocn_krokgem=2
ma_kgemlite=720
bg_par_misc_t_runtime=1
sg_par_misc_t_runtime=1
ma_koverall_total=11520
ma_dt_write=11520
ea_3=720
go_3=720
gs_3=720
el_3=720
ea_4=720
go_4=720
gs_4=720
el_4=720
ea_5=721
go_5=721
gs_5=721
el_5=721
ea_6=721
go_6=721
gs_6=721
el_6=721
ea_9=720
go_9=720
gs_9=720
ea_31=n
go_19=n
gs_14=n
ea_32=y
go_20=y
gs_15=y
ea_29=rst
go_17=rst
gs_12=rst
el_17=rst
el_24=rst.sland
ea_7=n
go_7=n
gs_7=n
el_7=n
ac_ctrl_continuing=f
bg_ctrl_continuing=f
sg_ctrl_continuing=f
rg_ctrl_continuing=f
eg_ctrl_continuing=f
ac_ctrl_ncrst=.true.
bg_ctrl_ncrst=.true.
sg_ctrl_ncrst=.true.
eg_ctrl_ncrst=.true.
bg_ctrl_force_oldformat=.false.
#
#
# --- CLIMATE -------------------------------------------------------
#
# set climate feedback
ea_36=n
#
# --- END -----------------------------------------------------------
#
