# $Id$

# C-GOLDSTEIN DEFAULT INTEGRATION OF 5000 YEARS, with 360-day year.
EXPID=genie_eb_go_gs_360

# these bits set up the correct modules
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_igcmatmos=.FALSE.
ma_flag_ebatmos=.TRUE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedicesheet=.FALSE.
ma_flag_fixedchem=.FALSE.

# DP flags are important for global water and energy
# conservation tests
GENIEDP=TRUE
IGCMATMOSDP=TRUE

GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'

ma_ksic_loop=5
ma_kocn_loop=5

# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 90000=500 years
#   iwstp='restarts' from 50000=500 years to 18000=100 years
#   itstp='time series' from 100=1 year to 9000=50 years
#   ianav='an average' from 50000=500 years to 90000=500 years
go_3=50000
go_4=10000
go_5=5000
go_6=50000

ea_3=50000
ea_4=10000
ea_5=5000
ea_6=50000

gs_3=50000
gs_4=10000
gs_5=5000
gs_6=50000

# this is to turn graphics off
ma_lgraphics=.false.

# this is to change the model run length
#   720=1 month of igcm (timestep=1 hour) to 43200000=5000 years
#ma_koverall_total=43200000

# this is for fixedatmos timestep from 86400=1day to 3600=1hour
#fa_timestep=3600

ma_koverall_total=3000000
ma_dt_write=60000
ea_8=360.00
go_8=360.00
gs_8=360.00
ea_9=120
go_9=120
gs_9=120

ma_flag_fixedseaice=.FALSE.

# this is to only write ocean-grid data in genie-main
ma_write_flag_atm=.false.
ma_write_flag_sic=.false.


