#
# --- CLIMATE --------------------------------------------------
#
# set climate feedback
ea_36=y
#
# --- ATMOSPHERIC PHOTOCHEMISTRY --------------------------------------
#
# atmospheric photochemical scheme ID string
ac_par_atm_CH4_photochem="claire06" # CH4 cycle parameterization based on Reinhard et al. 2020 Geobiology
#
# --- BIOLOGICAL NEW PRODUCTION --------------------------------
#
# biological scheme ID string
bg_par_bio_prodopt="bio_P"
# [PO4] M-M half-sat value (mol kg-1)
bg_par_bio_c0_PO4=0.10E-06
# biological uptake time-scale
bg_par_bio_tau=63.3827
#
# --- ORGANIC MATTER EXPORT RATIOS -----------------------------
#
#production fraction of dissolved organic matter
bg_par_bio_red_DOMfrac=0.66
#
# --- INORGANIC MATTER EXPORT RATIOS ---------------------------
#
# SET NO PELAGIC CARBONATE PRODUCTION
bg_par_bio_red_POC_CaCO3=0.0
bg_par_bio_red_POC_CaCO3_pP=0.0
#
# --- REMINERALIZATION -----------------------------------------
# CH4 cycle and all other remin parameterization based on Reinhard et al. 2020 Geobiology
# set remineralization scheme [e.g., hard thresholds "true" // "false"]
bg_ctrl_bio_remin_thresh=.false.
# half-saturation constant for oxic remin
bg_par_bio_remin_c0_O2=1.0E-07
# inhibition constant for oxic remin
bg_par_bio_remin_ci_O2=1.0E-05
# half-saturation constant for sulphate reduction
bg_par_bio_remin_c0_SO4=5.0E-04
# inhibition constant for sulphate reduction
bg_par_bio_remin_ci_SO4=5.0E-04
# DOC lifetime (yrs)
bg_par_bio_remin_DOMlifetime=1.0
# initial fractional abundance of POC component #2
bg_par_bio_remin_POC_frac2=0.055
bg_par_bio_remin_POC_eL1=589.9451 # modern e-folding depth
# remineralization length #2 for POC
bg_par_bio_remin_POC_eL2=1000000.0
# initial fractional abundance of CaCO3 component #2
bg_par_bio_remin_CaCO3_frac2=0.45
# depth of remineralization or CaCO3
bg_par_bio_remin_CaCO3_eL1=1.8905e+003
# remineralization length #2 for CaCO3
bg_par_bio_remin_CaCO3_eL2=1000000.0
# sulfide oxidation rate form
bg_opt_bio_remin_oxidize_H2StoSO4="OLD"
# sulfide oxidation rate constant [NOTE: only used if rate law is linear]
#bg_par_bio_remin_kH2StoSO4=1.0E07
# aerobic CH4 oxidation scheme
#bg_par_bio_remin_CH4ox="CH4ox_MM" # RGS commented out as no longer used in GENIE methane scheme
# rate constant for aerobic methanotrophy
bg_par_bio_remin_AER_kAER=1.574
# O2 half-saturation constant for aerobic methanotrophy
bg_par_bio_remin_AER_Km_O2=2.0E-05
# rate constant for AOM
bg_par_bio_remin_AOM_kAOM=0.022
# SO4 half-saturation constant for AOM
bg_par_bio_remin_AOM_Km_SO4=5.0E-04
# enable/disable thermodynamic terms
bg_par_bio_remin_AER_thermo="on"
bg_par_bio_remin_AOM_thermo="on"
# biological energy quanta (BEQ) for CH4 oxidation
bg_par_bio_remin_AER_BEQ=15.0
bg_par_bio_remin_AOM_BEQ=15.0
#
# --- DATA SAVING ----------------------------------------------
#
bg_par_data_save_level=4
bg_ctrl_debug_lvl0=.true.
ma_debug_loop=1
#
# --- FORCINGS -------------------------------------------------
#
# specify forcings
bg_par_forcing_name="pyyyyz.RpCO2_Rp13CO2.RpO2"
bg_par_atm_force_scale_val_3=0.003336 # restoring forcing for pCO2 [atm]
bg_par_atm_force_scale_val_6=0.0052375  # restoring forcing for pO2 [atm]
ac_par_atm_wetlands_FCH4=3.0E12             # wetland CH4 flux [mol/yr], from Reinhard et al 2020 Geobiology
#
# --- INITIAL CONDITIONS ---------------------------------------
#
# ATMOSPHERIC CHEMISTRY
ac_atm_init_3=0.003336 # pCO2 [atm]
ac_atm_init_6=0.0052375 # pO2 [atm]
ac_atm_init_10=10.0E-06             # pCH4 [atm]
#
# OCEAN CHEMISTRY
bg_ocn_init_3=2.244E-03             # DIC [mol/kg]
bg_ocn_init_8=5.3975e-08 # PO4 [mol/kg]
bg_ocn_init_10=0.0                  # O2 [mol/kg]
bg_ocn_init_12=2.363E-03            # ALK [mol/kg]
bg_ocn_init_15=0.0                  # DOM_C [mol/kg]
bg_ocn_init_20=0.0                  # DOM_P [mol/kg]
bg_ocn_init_25=0.0                  # CH4 [mol/kg]
bg_ocn_init_35=1.025E-02            # Ca [mol/kg]
bg_ocn_init_38=1.000E-03            # SO4 [mol/kg]
bg_ocn_init_40=0.0                  # H2S [mol/kg]
bg_ocn_init_50=5.282E-02            # Mg [mol/kg]
#
# --- MISC ----------------------------------------------------------
#
# kraus-turner mixed layer scheme on (1) or off (0)
go_imld = 1
#
# --- END ------------------------------------------------------
#
#
