# *******************************************************************
# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_biogem=.TRUE.
# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Topography
ma_fname_topo='p0093k'
# Grid resolution of climate components
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'
GENIENLOPTS='$(DEFINE)GENIENL=1'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
# Topography for climate components
ea_topo='p0093k'
go_topo='p0093k'
gs_topo='p0093k'
# Wind forcing for climate components
ea_taux_u="p0093k_taux_u.interp"
ea_tauy_u="p0093k_tauy_u.interp"
ea_taux_v="p0093k_taux_v.interp"
ea_tauy_v="p0093k_tauy_v.interp"
ea_adv_u="p0093k_uncep.silo"
ea_adv_v="p0093k_vncep.silo"
#assumed longitudinal offset of the grid
gm_par_grid_lon_offset=-180.0
# Grid resolution of solid Earth components
# Topography for solid Earth components
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=14'
# Set selected tracers
gm_atm_select_3=.true.
gm_atm_select_4=.true.
gm_atm_select_6=.true.
gm_atm_select_16=.true.
gm_ocn_select_3=.true.
gm_ocn_select_4=.true.
gm_ocn_select_8=.true.
gm_ocn_select_10=.true.
gm_ocn_select_12=.true.
gm_ocn_select_15=.true.
gm_ocn_select_16=.true.
gm_ocn_select_20=.true.
gm_ocn_select_35=.true.
gm_ocn_select_38=.true.
gm_ocn_select_40=.true.
gm_ocn_select_50=.true.
gm_sed_select_3=.true.
gm_sed_select_4=.true.
gm_sed_select_8=.true.
gm_sed_select_14=.true.
gm_sed_select_15=.true.
gm_sed_select_22=.true.
gm_sed_select_32=.true.
gm_sed_select_33=.true.
gm_sed_select_34=.true.
gm_sed_select_36=.true.
# Set tracer initial values
ac_atm_init_3=278.0E-06
ac_atm_init_4=-6.5
ac_atm_init_6=0.2095
bg_ocn_init_3=2.244E-03
bg_ocn_init_4=0.4
bg_ocn_init_8=2.159E-06
bg_ocn_init_10=1.696E-04
bg_ocn_init_12=2.363E-03
bg_ocn_init_35=1.025E-02
bg_ocn_init_38=2.916E-02
bg_ocn_init_40=0.0
bg_ocn_init_50=5.282E-02
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CONFIGURATION #1: main goin parameters
# *******************************************************************
# temp0
go_10=10.0
# temp1
go_11=10.0
# rel
go_12=0.9000000
# scl_tau / SclTau
go_13=1.531013488769531300
# ocean diffusivites iso (or horiz) / OcnHorizDiff
go_14=1494.438354492187500000
# ocean diffusivites dia (or vert) / OcnVertDiff
go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
go_16=2.710164785385131800
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
ea_11=1.531013488769531300
# atm. diff. amp. for T / AtmDiffAmpT
ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
ea_19=0.164652019739151000
# SclFWF
ea_28=0.0
# sea-ice eddy diffusivity / SeaiceDiff
gs_11=3573.718017578125000000
# solar constant reduced by 0.56% for end Cretaceous
ma_genie_solar_constant=1360.33
# adjusted planetary albedo
ea_albedop_offs=0.200
ea_albedop_amp=0.260
ea_albedop_skew=0.0
ea_albedop_skewp=0
ea_albedop_mod2=-0.000
ea_albedop_mod4=0.000
ea_albedop_mod6=0.250
# minus 1 PSU
go_saln0=33.9
# set climate feedback
ea_36=y
# *******************************************************************

# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************
