# *******************************************************************
# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_biogem=.TRUE.
# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Set ATCHEM grid the same as GOLDSTEIN grid (but one vertical level)
GENIENXOPTS='-DGENIENX=18'
GENIENYOPTS='-DGENIENY=18'
GENIENLOPTS='-DGENIENL=1'
# Grid resolution
GENIENXOPTS='$(DEFINE)GENIENX=18'
GENIENYOPTS='$(DEFINE)GENIENY=18'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=18'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=18'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
# Specify the observational data and topography: EMBM
ea_topo='_rwlma'
ea_taux_u="_rwlma_taux_u.interp"
ea_tauy_u="_rwlma_tauy_u.interp"
ea_taux_v="_rwlma_taux_v.interp"
ea_tauy_v="_rwlma_tauy_v.interp"
ea_adv_u="_rwlma_u.silo"
ea_adv_v="_rwlma_v.silo"
# Specify the observational data and topography: GOLDSTEIN
go_topo='_rwlma'
# Specify the observational data and topography: GOLDSTEIN sea-ice
gs_topo='_rwlma'
#assumed longitudinal offset of the grid
gm_par_grid_lon_offset=-180.0
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=16'
# Select tracers
gm_atm_select_3=.true.
gm_atm_select_4=.true.
gm_atm_select_6=.true.
gm_ocn_select_3=.true.
gm_ocn_select_4=.true.
gm_ocn_select_8=.true.
gm_ocn_select_9=.true.
gm_ocn_select_10=.true.
gm_ocn_select_12=.true.
gm_ocn_select_15=.true.
gm_ocn_select_16=.true.
gm_ocn_select_20=.true.
gm_ocn_select_22=.true.
gm_ocn_select_23=.true.
gm_ocn_select_24=.true.
gm_ocn_select_35=.true.
gm_ocn_select_50=.true.
gm_sed_select_3=.true.
gm_sed_select_4=.true.
gm_sed_select_8=.true.
gm_sed_select_10=.true.
gm_sed_select_13=.true.
gm_sed_select_14=.true.
gm_sed_select_15=.true.
gm_sed_select_21=.true.
gm_sed_select_22=.true.
gm_sed_select_25=.true.
gm_sed_select_32=.true.
gm_sed_select_33=.true.
gm_sed_select_34=.true.
gm_sed_select_36=.true.
# Set tracer initial values
ac_atm_init_3=278.0E-06
ac_atm_init_4=-6.5
ac_atm_init_6=0.2095
bg_ocn_init_3=2.244E-03
bg_ocn_init_4=0.4
bg_ocn_init_8=2.159E-06
bg_ocn_init_9=0.650E-09
bg_ocn_init_10=1.696E-04
bg_ocn_init_12=2.363E-03
bg_ocn_init_15=0.0
bg_ocn_init_16=0.0
bg_ocn_init_20=0.0
bg_ocn_init_22=0.0
bg_ocn_init_23=0.0
bg_ocn_init_24=1.000E-09
bg_ocn_init_35=1.025E-02
bg_ocn_init_50=5.282E-02
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CALIBRATION
# *******************************************************************
# basic climate model parameters as per Cao et al. [2009] ::
# rel
go_12=0.9000000
# scl_tau / SclTau
go_13=1.531013488769531300
# ocean diffusivites iso (or horiz) / OcnHorizDiff
go_14=1494.438354492187500000
# ocean diffusivites dia (or vert) / OcnVertDiff
go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
go_16=2.710164785385131800
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
ea_11=1.531013488769531300
# atm. diff. amp. for T / AtmDiffAmpT
ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
ea_19=0.164652019739151000
# adjusted climate model parameters ::
# temp0
go_10=5.0
# temp1
go_11=5.0
# extra1a
ea_25=0.0
# extra1b
ea_26=0.0
# extra1c
ea_27=0.0
# minus 1 PSU for an ice-free world
go_saln0=33.9
# sea-ice eddy diffusivity
gs_11=1000.000
# fractional sea-ce coverage threshold for preventing advection
gs_par_sica_thresh=0.9
# set seasonal cycle
ea_dosc=.true.
go_dosc=.true.
gs_dosc=.true.
# *******************************************************************

# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************
