# *******************************************************************
# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_biogem=.TRUE.
# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Topography
ma_fname_topo='worjh2'
# Grid resolution of climate components
GENIENXOPTS='-DGENIENX=36'
GENIENYOPTS='-DGENIENY=36'
GENIENLOPTS='-DGENIENL=1'
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
# Topography for climate components
ea_topo=worjh2
go_topo=worjh2
gs_topo=worjh2
# Wind forcing for climate components
#assumed longitudinal offset of the grid
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=4'
# Select tracers
gm_ocn_select_48=.true.
gm_ocn_select_49=.true.
# Set tracer initial values
bg_ocn_init_48=0.0
bg_ocn_init_49=0.0
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CONFIGURATION #1: main goin parameters
# *******************************************************************
# temp0
go_10=0.0
# temp1
go_11=0.0
# rel
go_12=0.9000000
# scl_tau / SclTau
go_13=1.531013488769531300
# ocean diffusivites iso (or horiz) / OcnHorizDiff
go_14=1494.438354492187500000
# ocean diffusivites dia (or vert) / OcnVertDiff
go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
go_16=2.710164785385131800
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
ea_11=1.531013488769531300
# atm. diff. amp. for T / AtmDiffAmpT
ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
ea_19=0.164652019739151000
## extra1a
#ea_25=-2.1228021E-02
## extra1b
#ea_26=0.1202921
## extra1c
#ea_27=0.1273681
# SclFWF
ea_28=0.726862013339996340
# sea-ice eddy diffusivity / SeaiceDiff
gs_11=3573.718017578125000000
#diffusivity scaling factor
ea_diffa_scl=0.25
#grid point distance over which scalar is applied (j direction)
ea_diffa_len=3
# *******************************************************************

# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************
EXPID=EXAMPLE.worjh2.NONE_age.SPIN
ma_genie_timestep=65745.00000000000000000000
ma_ksic_loop=5
ma_kocn_loop=5
ma_klnd_loop=5
ma_conv_kocn_kecogem=2
ma_conv_kocn_katchem=2
ma_conv_kocn_kbiogem=2
ma_conv_kocn_ksedgem=96
ma_conv_kocn_krokgem=2
ma_kgemlite=96
bg_par_misc_t_runtime=10000
sg_par_misc_t_runtime=10000
ma_koverall_total=4800000
ma_dt_write=4800000
ea_3=960000
go_3=960000
gs_3=960000
ents_3=960000
ea_4=960000
go_4=960000
gs_4=960000
ents_4=960000
ea_5=960001
go_5=960001
gs_5=960001
ents_5=960001
ea_6=960001
go_6=960001
gs_6=960001
ents_6=960001
ea_9=96
go_9=96
gs_9=96
ea_31=n
go_19=n
gs_14=n
ea_32=y
go_20=y
gs_15=y
ea_29=rst
go_17=rst
gs_12=rst
ents_17=rst
ents_24=rst.sland
ea_7=n
go_7=n
gs_7=n
ents_7=n
ac_ctrl_continuing=f
bg_ctrl_continuing=f
sg_ctrl_continuing=f
rg_ctrl_continuing=f
eg_ctrl_continuing=f
ac_ctrl_ncrst=.true.
bg_ctrl_ncrst=.true.
sg_ctrl_ncrst=.true.
eg_ctrl_ncrst=.true.
bg_ctrl_force_oldformat=.false.
#
#
# --- CLIMATE ---------------------------------------------------------
#
# scaling for atmospheric CO2 radiative forcing, relative to 278 ppm
ea_radfor_scl_co2=1.0
#
# --- BIOLOGICAL NEW PRODUCTION ---------------------------------------
#
# No biology
bg_par_bio_prodopt='NONE'
#
# --- DATA SAVING -----------------------------------------------------
#
# date saving & reporting options
bg_par_data_save_level=6
bg_ctrl_debug_lvl0=.true.
ma_debug_loop=2
#
# --- FORCINGS --------------------------------------------------------
#
bg_par_forcing_name="pyyyyz.Rcolr_Rcolb"
bg_par_ocn_force_scale_val_49=10000.0
bg_par_ocn_force_scale_time_49=10000.0
#
# --- END -------------------------------------------------------------
#
#