# $Id$
# Fast test

EXPID=genie_eb_go_gs

TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=goldstein/gold_spn_av_0000000020_00.nc

# DP flags are important for global water and energy
# conservation tests
GENIEDP=TRUE
IGCMATMOSDP=TRUE

GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'

ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_igcmatmos=.FALSE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_fixedicesheet=.FALSE.
ma_flag_fixedchem=.FALSE.

# this is to only write ocean-grid data in genie-main
ma_write_flag_atm=.false.
ma_write_flag_sic=.false.

# this is to write genie-main data every 50000 timesteps=100 years
ma_dt_write=50000

# this is to control embm output periods
#   npstp='health check' from 1000=10 years to 50000=500 years
#   iwstp='restarts' from 50000=500 years to 10000=100 years
#   itstp='time series' from 100=1 year to 5000=50 years
#   ianav='an average' stays 50000=500 years

ea_3=1000
ea_4=1000
ea_5=10
ea_6=1000

# this is to control goldstein output periods
#   npstp='health check' from 1000=10 years to 50000=500 years
#   iwstp='restarts' from 50000=500 years to 10000=100 years
#   itstp='time series' from 100=1 year to 5000=50 years
#   ianav='an average' stays 50000=500 years
go_3=1000
go_4=1000
go_5=10
go_6=1000

# this is to control seaice output periods
#   npstp='health check' from 1000=10 years to 50000=500 years
#   iwstp='restarts' from 50000=500 years to 10000=100 years
#   itstp='time series' from 100=1 year to 5000=50 years
#   ianav='an average' stays 50000=500 years
gs_3=1000
gs_4=1000
gs_5=10
gs_6=1000

# this is to turn graphics off
ma_lgraphics=.false.

# this is to change the model run length
#   720=1 month of igcm (timestep=1 hour) to 2500000=5000 years of c-goldstein
ma_koverall_total=10000

# this changes the relative atmos/ocean/seaice calling frequency
ma_ksic_loop=5
ma_kocn_loop=5

ea_22=0.0
go_10=10.
go_11=10.
go_15=1.e-4
