# CB-GOLDSTEIN CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)


# *******************************************************************
# COMPILER OPTIONS
# *******************************************************************
# Set floating point precision
# NOTE: currently BIGOEM will ony work in conjunction the IGCM compiled if everything is real*8
GENIEDP=TRUE
IGCMATMOSDP=TRUE
# Set build options (un-comment to compile and run with more comprehsneive de-bugging)
#BUILD=DEBUG


# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_igcmatmos=.FALSE.
ma_flag_fixedocean=.FALSE.
ma_flag_fixedseaice=.FALSE.
ma_flag_fixedicesheet=.FALSE.
ma_flag_fixedchem=.FALSE.
ma_flag_biogem=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_sedgem=.FALSE.


# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# WOULD LIKE TO ADD CODE HERE TO SET THE ATMOSPHERE DIMENSIONS THE SAME AS THE OCEAN
# (AND LEVELS = 1)
#
# Set ATCHEM grid the same as GOLDSTEIN grid (but one vertical level)
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'


# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
# NOTE: the number of tracers written in this string is used as a record of
#       the number of tracers last compiled into genie.exe
#       => the tracers is selected is compared to that used in the last compile (recorded here)
#          and used to decide whether a clean compile is required or not
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=14'
gm_atm_select_3=.true.
gm_atm_select_4=.true.
gm_atm_select_5=.true.
gm_atm_select_6=.true.
gm_atm_select_18=.true.
gm_atm_select_19=.true.
gm_ocn_select_3=.true.
gm_ocn_select_4=.true.
gm_ocn_select_5=.true.
gm_ocn_select_8=.true.
gm_ocn_select_10=.true.
gm_ocn_select_12=.true.
gm_ocn_select_15=.true.
gm_ocn_select_16=.true.
gm_ocn_select_17=.true.
gm_ocn_select_20=.true.
gm_ocn_select_45=.true.
gm_ocn_select_46=.true.
gm_sed_select_3=.true.
gm_sed_select_4=.true.
gm_sed_select_5=.true.
gm_sed_select_8=.true.
gm_sed_select_14=.true.
gm_sed_select_15=.true.
gm_sed_select_16=.true.
gm_sed_select_22=.true.
gm_sed_select_32=.true.
gm_sed_select_33=.true.
gm_sed_select_34=.true.
gm_sed_select_36=.true.
ac_atm_init_3=278.0E-06
ac_atm_init_4=-6.50
ac_atm_init_6=0.2095
bg_ocn_init_3=2.244E-03
bg_ocn_init_4=0.4
bg_ocn_init_8=2.159E-06
bg_ocn_init_10=1.696E-04
bg_ocn_init_12=2.363E-03


# *******************************************************************
# OUTPUT CONFIGURATION
# *******************************************************************
# Set experiment ID
# NOTE: the full (directory) name of the experiment consists of this ID followed by '.' and run ID (set at the command line)
EXPID=genie_eb_go_gs_ac_bg
# this is to only write ocean-grid data in genie-main
ma_write_flag_atm=.false.
ma_write_flag_sic=.false.
# this is to turn graphics off
ma_lgraphics=.false.

# *******************************************************************
# TESTING SPECIFIC
# *******************************************************************
TEST_NAME=${EXPID}_regtest
ASSUMEDGOOD_NAME=${EXPID}_assumedgood
KNOWNGOOD_NAME=${EXPID}_knowngood
BUILDTEST_NAME=${EXPID}_buildtest

TESTFILE=biogem/fields_biogem_3d.nc

# *******************************************************************
# TIME CONTROL AND TIME-STEPPING
# *******************************************************************
# NOTE: For igcm where dt is usually 1 hour, use koverall_total=8640 for a 1 year run.
#       For c-goldstein, where dt is usually 365.25/500 days, use koverall_total=500 for a 1 year run.
# NOTE: 720=1 month of igcm (timestep=1 hour) to 2500000=5000 years of c-goldstein
#       BIOGEM run length = ma_koverall_total/500
#
# 1. TIME_STEP DURATION
#ma_genie_timestep=3600.0
# c-goldstein; ma_genie_timestep = 8640.0/500 * 3600.0 (IGCM year length)
#ma_genie_timestep=62208.0
# c-goldstein; ma_genie_timestep = 365.25*24.0/500 * 3600.0 (GOLDSTEIN year length)
ma_genie_timestep=63115.2
#
# 2. MODEL RUIN LENGTH
# NOTE: these 3 parameter values are appropriately set at run-time by the job submission script
#ma_koverall_total=1000500
#biogem_11=2001.0
# this is to write genie-main data every 50000 timesteps=100 years
#ma_dt_write=50000
#
# 3. EMBM, GOLDSTEIN, & SEA-ICE OUTPUT PERIODS
# npstp='health check', iwstp='restarts', itstp='time series', ianav='an average'
# ea_3, ea_4, ea_5, ea_6
# go_3, go_4, go_5, go_6
# gs_3, gs_4, gs_5, gs_6
# NOTE: all these parameter values are appropriately set at run-time by the job submission script
# 4. RELATIVE EMBM/GOLDSTEIN/SEA-ICE CALLING FREQUENCY
ma_ksic_loop=5
ma_kocn_loop=5


# *******************************************************************
# PHYSICAL CLIMATE CONFIGURATION: main goin parameters
# *******************************************************************
# this is to set the climate model goin parameters as per Ridgwell et al. [2006a] (I hope ...)
# temp0
go_10=0.0
# temp1
go_11=0.0
# rel
go_12=0.9000000
# scl_tau
go_13=1.931692
# ocean diffusivites iso (or horiz)
go_14=4488.812
# ocean diffusivites dia (or vert)
go_15=2.7242320E-05
# inverse minimum drag in days
go_16=2.939598
# scl_tau (should be same as GOLDSTEIN's value)
ea_11=1.931692
# atm. diff. amp. for T
ea_12=4667550.0
# atm. diff. amp. for q
ea_13=1097107.0
# dist'n width
ea_14=1.083292
# dist'n slope
ea_15=6.3252553E-02
# atm. advection factor for T_z
ea_16=0.1121861
# atm. advection factor for T_m
ea_17=0.0000000E+00
# atm. advection factor for q_z
ea_18=0.2269510
# atm. advection factor for q_m
ea_19=0.2269510
# extra1a
ea_25=-2.1228021E-02  
# extra1b
ea_26=0.1202921      
# extra1c
ea_27=0.1273681
# sea-ice eddy diffusivity
gs_11=6200.000
# set whether carbon-climate system is interactive (i.e., whether the EMBM 'see's ATCHEM trace gas concentrations)
# (set to 'y' to enable carbon-climate feedbacks)
ea_36=n

# *******************************************************************
# BIOGEM CONFIGURATION: goin parameters
# *******************************************************************
# --- BIOLOGICAL NEW PRODUCTION -------------------------------------
bg_par_bio_k0_PO4=1.8622476E-06                #maximum PO4 consumption rate (mol kg-1 yr-1)
bg_par_bio_c0_PO4=2.2195215E-07                #[PO4] M-M half-sat value (mol kg-1)
# --- ORGANIC MATTER EXPORT RATIOS ----------------------------------
bg_par_bio_red_POP_POC=117.0
bg_par_bio_red_POP_PO2=-170.0
bg_par_bio_red_DOMfrac=0.66                    #production fraction of dissolved organic matter
# --- INORGANIC MATTER EXPORT RATIOS --------------------------------
bg_par_bio_red_POC_CaCO3=0.043987              #base CaCO3:POC export ratio
bg_par_bio_red_POC_CaCO3_pP=0.7438526          #exponent for modifier of CaCO3:POC export ratio
# --- REMINERALIZATION ----------------------------------------------
bg_par_bio_remin_DOMlifetime=0.5               #DOC lifetime (yrs)
bg_par_bio_remin_POC_frac2=5.6834821E-02       #initial fractional abundance of POC component #2
bg_par_bio_remin_POC_eL1=590.0558              #remineralization length #1 for POC
bg_par_bio_remin_POC_eL2=1000000.0             #remineralization length #2 for POC
bg_par_bio_remin_CaCO3_frac2=0.4725959         #initial fractional abundance of CaCO3 component #2
bg_par_bio_remin_CaCO3_eL1=1255.455            #remineralization length #1 for CaCO3
bg_par_bio_remin_CaCO3_eL2=1000000.0           #remineralization length #2 for CaCO3

# *******************************************************************
# AUTOMATICALLY GENERATED OPTIONS FOLLOW ...
# *******************************************************************
bg_par_misc_t_start=0
bg_par_misc_t_runtime=5
ma_koverall_total=2500
ma_dt_write=2500
ea_4=500
go_4=500
gs_4=500
ea_3=501
go_3=501
gs_3=501
ea_5=501
go_5=501
gs_5=501
ea_6=501
go_6=501
gs_6=501
ea_31=n
go_19=n
gs_14=n
ea_32=y
go_20=y
gs_15=y
ea_29=rst
go_17=rst
gs_12=rst
ea_7=n
go_7=n
gs_7=n
ac_ctrl_continuing=f
bg_ctrl_continuing=f
ea_36=y
bg_par_infile_slice_name="genie_eb_go_gs_ac_bg_test_save_timeslice.dat"
bg_par_infile_sig_name="genie_eb_go_gs_ac_bg_test_save_sig.dat"
bg_par_windspeed_file="genie_eb_go_gs_ac_bg_test_windspeed.dat"
bg_par_fordir_name="$RUNTIME_ROOT/genie-main/configs/eb_go_gs_ac_bg/biogem_test"
