#
#
# --- CLIMATE ---------------------------------------------------------
#
# solar constant
# solar constant reduced by 5.6% for late Neoproterozoic: 1285.92 W m-2
ma_genie_solar_constant=1285.92
# scaling for atmospheric CO2 radiative forcing, relative to 278 ppm
ea_radfor_scl_co2=20.0
# set no CO2 climate feedback
ea_36=n
#
# --- BIOLOGICAL NEW PRODUCTION ---------------------------------------
#
# No biology
bg_par_bio_prodopt='NONE'
#
# --- DATA SAVING -----------------------------------------------------
#
# date saving & reporting options
bg_par_data_save_level=2
bg_ctrl_debug_lvl0=.true.
ma_debug_loop=2
#
# --- FORCINGS --------------------------------------------------------
#
# add a geothermal heat flux (W m-2)
bg_ctrl_force_GOLDSTEInTS=.TRUE.
bg_par_Fgeothermal=100.0E-3
#
# --- END -------------------------------------------------------------
#
#
